        body {
            background-color: #fdfdff;
            color: #ffffff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h1 {
            color: #4ea8de;
        }
        .grupo-input{
            display: flex;
            align-items: center;
            flex-direction: column;
        }